// *** third-party libs (normalize and etc..) ***
@import 'libs'

// *** fonts *** 
@import 'fonts'

// *** variables *** 
@import 'vars'

// clear
*
    padding: 0
    margin: 0

*::-webkit-input-placeholder
    color: #666
    opacity: 1

*:-moz-placeholder
    color: #666
    opacity: 1

*::-moz-placeholder
    color: #666
    opacity: 1

*:-ms-input-placeholder
    color: #666
    opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666
body input:required:valid,
body textarea:required:valid
    color: #666

html
    font-size: 100%

a
    color: var(--black)

h2
    font-size: 2.125em
    text-transform: uppercase
    font-weight: 500

body
    min-width: 320px
    font-family: $Roboto

ul
    list-style-type: none

input, textarea
    border: none
    background-image: none
    background-color: transparent
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    &:focus
        border: none
        box-sizing: border-box
        outline: none

button
    padding: 0
    border: none
    font: inherit
    color: inherit
    background-color: transparent
    outline: none
    &:hover
        border: none
        outline: none
    &:active
        border: none
        outline: none
    &:focus
        outline: none
        border: none

.wrapper
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    background: var(--white)

.btn-primary
    background: var(--accent)
    border-radius: 4px
    border: 1px solid var(--accent)
    color: var(--white)
    cursor: pointer
    display: block
    font-weight: 500
    text-transform: uppercase
    transition: all .22s ease-in-out
    font-size: 1em
    padding: 15px 0
    &:hover
        border: 1px solid var(--accent)
        background: var(--white)
        color: var(--accent)
