$Roboto: 'Roboto', sans-serif
$Exo2: 'Exo2', sans-serif
$IBMPlexMono: 'IBMPlexMono', sans-serif
$ProximaNova: 'ProximaNova', sans-serif

html
	--white: #FFFFFF
	--black: #000000
	--orange: #F47C0C
	--pink: #FF007A
	--green: #00C608
	--accent: #001AC3
	--gray: #4C5458
	--gray-light: #878A92
	--gray-light-extra: #277699
