// then modal is open
.modal-open
	overflow-y: hidden

	.modal__overlay
		visibility: visible
		opacity: 1
		overflow-y: auto

		.modal__window
			opacity: 1
			top: 15vh

.modal

	&__banner
		display: flex
		justify-content: center
		width: 100%
		border-bottom: 1px dashed var(--gray-light)
		> svg
			margin-bottom: 34px

	&__form
		padding: 34px 38px

	&__headers
		display: flex
		justify-content: space-between
		align-items: baseline
		margin-top: 32px
		&--text
			font-weight: 700
			font-size: 1.75em
		&--sub
			color: var(--gray-light)

	&__forgot-pass
		display: flex
		justify-content: end
		font-size: 0.875em
		width: 100%
		text-align: right
		margin: 13px 0
		> a
			color: var(--gray-light)

	&__overlay
		position: fixed
		top: 0
		right: 0
		left: 0
		bottom: 0
		background: rgba(0 , 0, 0, .5)
		z-index: 100
		opacity: 0
		visibility: hidden
		transition: all .22s ease-in

	&__window
		position: relative
		width: 510px
		left: calc(50% - 510px / 2)
		right: calc(50% - 510px / 2)
		top: -10vh
		border-radius: 8px
		background: var(--white)
		opacity: 0
		transition: all .4s ease-in-out

	&__body
		margin-top: 33px
		&--inputs
			display: flex
			flex-direction: column
			width: 100%
			font-size: 14px

	&__politically
		margin-top: 29px
		display: flex
		&--label
			#accept-error
				display: none !important
		&--text
			margin-left: 6px
			> a
				color: var(--accent)

	&__pay-sub
		border-radius: 0 0 8px 8px
		display: flex
		width: 100%
		flex-direction: row
		justify-content: space-between
		align-items: center
		text-decoration: none
		background: var(--pink)
		color: var(--white)
		padding: 16px 24px

	&__sub-text
		&--header
			font-size: 1em
			font-weight: 500
		&--desc
			margin-top: 6px
			font-size: 0.75em

	&__input
		margin-top: 27px
		display: grid
		&--title
			color: var(--gray-light)
			font-size: 0.6875em
			text-transform: uppercase
		> input
			border-bottom: 1px solid var(--gray-light)
			padding: 7px 0

	label + .error
		border-bottom: 1px solid var(--pink)

	input + .error
		margin-top: 4px
		color: var(--pink)
		font-size: 0.6875em

@media screen and (max-width: 576px)
	.modal
		&__window
			width: 100%
			left: 0
			right: 0
