.product
	width: 248px
	&__image
		position: relative
		width: 248px
		height: 248px
		display: block
		overflow: hidden
		&:hover
			&--photo
				transform: scale(1.1)
		&--photo
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			transition: transform .22s ease-in-out

	&__marks
		position: absolute
		font-size: 0.6875em
		font-family: $Exo2
		text-transform: uppercase
		color: var(--white)
		z-index: 2
		.green
			background: var(--green)
		.orange
			background: var(--orange)

	&__bestseller, &__discount
		padding: 5px 10px
	&__discount
		margin-top: 4px
		background: var(--pink)
		display: inline-block

	&__info
		margin-top: 40px
		display: flex
		flex-direction: column

	&__code
		color: var(--gray-light-extra)
		font-size: 0.6875em

	&__title
		margin-top: 9px
		font-size: 0.9375em
		text-decoration: none
		&:hover
			text-decoration: underline

	&__statistics
		margin-top: 29px
		display: flex
		flex-direction: row

	&__comments
		display: flex
		align-items: normal
		margin-left: 12px
		> span
			margin-left: 6px
			font-size: 0.75em
			color: var(--gray)

	&__price
		align-items: baseline
		display: flex
		margin-top: 20px
		flex-direction: row
		.sale
			color: var(--pink)
		&--actual
			font-size: 1.1875em
			font-weight: 500
		&--old
			margin-left: 12px
			text-decoration: line-through
			text-decoration-color: var(--pink)
			color: var(--gray)
			font-weight: 400
			font-size: 0.9375em

@media screen and (max-width: 768px)
	.product
		width: 100%
		height: 100%
		padding: 0 5px
		&__image
			width: 100%
