.switch {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 28px;
	&__checkbox { 
		opacity: 0;
		width: 0;
		height: 0;
	}
	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--white);
		-webkit-transition: .4s;
		transition: .4s;
		border: 1px solid var(--accent);
		border-radius: 34px;
		&:before {
			position: absolute;
			content: "";
			height: 22px;
			width: 22px;
			left: 2px;
			bottom: 2px;
			background-color: var(--accent);
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
		
	}
	&__text {
		margin-left: 16px;
		font-family: $ProximaNova;
		font-size: 1em;	
	}
}

.switch__checkbox:checked + .switch__slider {
	background-color: var(--accent);
}

.switch__checkbox:focus + .switch__slider {
	box-shadow: 0 0 1px var(--accent);
}

.switch__checkbox:checked + .switch__slider:before {
	transform: translateX(15px);
	background-color: var(--white);
}