// *** normalize styles & fonts & vars *** 
@import './root/ui'

@import 'modal'

// *** header *** 

@import 'header'

// *** main ***

.main
    flex: 1
    position: relative

// *** main slider ***

.main-slider
    height: 531px
    .splide
        height: inherit
        &__arrow
            background: none
            opacity: 1
            &--prev
                left: 6.25em
            &--next
                right: 6.25em
            > svg
                width: 1.75em
                height: 1.75em
                fill: var(--white)
        &__image
            width: 100%
            height: 100%
            object-fit: cover
        &__track
            height: inherit

.main-header
    bottom: 0
    left: 0
    right: 0
    width: 100%
    font-size: 9em
    color: var(--white)
    font-family: $IBMPlexMono
    text-align: center
    position: absolute
    text-transform: uppercase
    margin: 33px 0
    z-index: 1

// *** end slider ***

// *** new block ***

.new
    &__header
        margin-top: 51px
        margin-bottom: 42px

.new-slider
    .splide
        &__arrow
            background: none
            opacity: 1
            width: 51px
            height: 51px
            > svg
                width: 51px
                height: 51px
                fill: var(--white)
            &--prev
                left: -4em
            &--next
                right: -4em
        &__slide
            display: flex
            justify-content: center

// *** end new block ***

@import 'product'

// *** photos block ***

.photos
    &__header
        margin-top: 92px
        margin-bottom: 45px
    &__items
        display: flex
        overflow-y: hidden
    &__item
        position: relative
        margin: 12px
        width: 185px
        height: 136px
        transition: transform .22s ease-in-out
        &:hover
            transform: scale(1.03)
        &--times
            position: absolute
            top: -10px
            right: -10px
            z-index: 2
            cursor: pointer
        &--add
            margin: 12px
            display: flex
            cursor: pointer
    &__input
        display: none
    &__publish
        align-items: center
        display: inline-flex
        height: 28px
        margin-top: 54px
    &__send
        width: 420px
        margin-top: 20px

@import 'switch'

// *** end photos block ***

@import "footer"

// Breakpoints

@media screen and (max-width: 1250px)
    .new-slider .splide
        &__arrow
            &--prev
                left: 0em
            &--next
                right: 0em

// @media screen and (max-width: 1200px)

@media screen and (max-width: 992px)
    .main-header
        font-size: 3.375em

@media screen and (max-width: 768px)
    .new-slider .splide
        &__arrows
            display: none

    .main-slider .splide
        &__arrow
            &--prev
                left: 1em
            &--next
                right: 1em

@media screen and (max-width: 576px)
    .main-header
        font-size: 2.125em
    .photos
        &__send
            width: 100%

// End breakpoints
