<header class="header">
	<div class="container">
		<nav class="navbar">
			<ul>
				<li>
					<a href="javascript:void(0)" alt="Войти" class="signin" id="open-modal">Войти</a>
				</li>
			</ul>
		</nav>
	</div>
</header>