<div class="photos__item">
	<svg
		width="36"
		height="36"
		viewBox="0 0 36 36"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		class="photos__item--times"
	>
		<circle
			cx="18"
			cy="18"
			r="17.5"
			fill="white"
			stroke="#999999"
		/>
		<g clip-path="url(#times)">
			<path
				d="M13 22.06L13.99 23.05L18.03 19.01L22.06 23.05L23.05 22.06L19.01 18.03L23.05 13.99L22.06 13L18.03 17.04L13.99 13L13 13.99L17.04 18.03L13 22.06Z"
				fill="#888888"
			/>
		</g>
		<defs>
			<clipPath id="times">
				<rect
					width="10.05"
					height="10.05"
					fill="white"
					transform="translate(13 13)"
				/>
			</clipPath>
		</defs>
	</svg>
	<img src="./images/photo.jpg" alt="Photo" class="photos__item--photo" />
</div>