<div class="modal">
	<div class="modal__overlay" data-close="true">
		<div class="modal__window">
			<div class="modal__form">
				<div class="modal__banner">
					<svg
						width="92"
						height="14"
						viewBox="0 0 92 14"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M6.94977 13.9546C4.97762 13.9546 3.3263 13.3061 1.99578 12.0093C0.665253 10.7125 0 9.04272 0 7.00002C0 4.95732 0.665253 3.28757 1.99578 1.99073C3.3263 0.693884 4.97762 0.0454712 6.94977 0.0454712C9.11103 0.0454712 10.8197 0.932419 12.076 2.70634L10.6577 3.49251C10.2659 2.91464 9.73913 2.44429 9.07725 2.08144C8.41536 1.71859 7.70621 1.53717 6.94977 1.53717C5.4639 1.53717 4.22457 2.0512 3.23174 3.07927C2.23891 4.10733 1.74251 5.41424 1.74251 7.00002C1.74251 8.5858 2.23891 9.8927 3.23174 10.9208C4.22457 11.9488 5.4639 12.4629 6.94977 12.4629C7.70621 12.4629 8.41536 12.2848 9.07725 11.9287C9.73913 11.5725 10.2659 11.0988 10.6577 10.5075L12.0962 11.2937C10.786 13.0676 9.07051 13.9546 6.94977 13.9546ZM20.4035 13.9546C18.4179 13.9546 16.8037 13.2961 15.561 11.9791C14.3183 10.6621 13.6969 9.0024 13.6969 7.00002C13.6969 4.99763 14.3183 3.33797 15.561 2.02097C16.8037 0.703963 18.4179 0.0454712 20.4035 0.0454712C22.3757 0.0454712 23.9865 0.703963 25.236 2.02097C26.4854 3.33797 27.1102 4.99763 27.1102 7.00002C27.1102 9.0024 26.4854 10.6621 25.236 11.9791C23.9865 13.2961 22.3757 13.9546 20.4035 13.9546ZM20.4035 12.4629C21.8894 12.4629 23.0882 11.9488 24 10.9208C24.9118 9.8927 25.3677 8.5858 25.3677 7.00002C25.3677 5.4008 24.9118 4.09054 24 3.06919C23.0882 2.04784 21.8894 1.53717 20.4035 1.53717C18.9042 1.53717 17.702 2.04784 16.797 3.06919C15.8919 4.09054 15.4394 5.4008 15.4394 7.00002C15.4394 8.5858 15.8919 9.8927 16.797 10.9208C17.702 11.9488 18.9042 12.4629 20.4035 12.4629ZM40.9287 13.7127H39.3077L31.4259 2.98855V13.7127H29.7442V0.26721H31.4664L39.2469 10.7696V0.26721H40.9287V13.7127ZM49.1144 13.7127H47.4327V1.75891H43.1575V0.26721H53.4099V1.75891H49.1144V13.7127ZM65.4453 13.7127H63.4597L60.0152 8.37077H57.3204V13.7127H55.6387V0.26721H61.0688C62.325 0.26721 63.3449 0.636772 64.1283 1.37591C64.9118 2.11504 65.3035 3.09606 65.3035 4.31899C65.3035 5.47473 64.9658 6.39527 64.2904 7.08065C63.615 7.76603 62.7843 8.14903 61.7982 8.22966L65.4453 13.7127ZM60.8662 6.89923C61.6632 6.89923 62.3115 6.65733 62.8113 6.17353C63.3111 5.68974 63.561 5.07156 63.561 4.31899C63.561 3.56642 63.3111 2.9516 62.8113 2.47452C62.3115 1.99745 61.6632 1.75891 60.8662 1.75891H57.3204V6.89923H60.8662ZM74.1173 13.9546C72.1317 13.9546 70.5175 13.2961 69.2748 11.9791C68.0321 10.6621 67.4107 9.0024 67.4107 7.00002C67.4107 4.99763 68.0321 3.33797 69.2748 2.02097C70.5175 0.703963 72.1317 0.0454712 74.1173 0.0454712C76.0895 0.0454712 77.7003 0.703963 78.9498 2.02097C80.1992 3.33797 80.824 4.99763 80.824 7.00002C80.824 9.0024 80.1992 10.6621 78.9498 11.9791C77.7003 13.2961 76.0895 13.9546 74.1173 13.9546ZM74.1173 12.4629C75.6032 12.4629 76.802 11.9488 77.7138 10.9208C78.6256 9.8927 79.0815 8.5858 79.0815 7.00002C79.0815 5.4008 78.6256 4.09054 77.7138 3.06919C76.802 2.04784 75.6032 1.53717 74.1173 1.53717C72.618 1.53717 71.4158 2.04784 70.5108 3.06919C69.6057 4.09054 69.1532 5.4008 69.1532 7.00002C69.1532 8.5858 69.6057 9.8927 70.5108 10.9208C71.4158 11.9488 72.618 12.4629 74.1173 12.4629ZM91.4209 13.7127H83.458V0.26721H85.1397V12.221H91.4209V13.7127Z"
							fill="black"
						/>
					</svg>
				</div>

				<div class="modal__headers">
					<span class="modal__headers--text">Авторизация</span>
					<span class="modal__headers--sub">Регистрация</span>
				</div>

				<div class="modal__body">
					<form action="" class="modal__body--inputs" id="auth-form">
						<div class="modal__input">
							<label class="modal__input--title" for="phone">Номер телефона или email</label>
							<input type="text" name="phone" />
						</div>
						<div class="modal__input">
							<label class="modal__input--title" for="pass">Пароль</label>
							<input type="password" name="pass" />
						</div>
						<div class="modal__input">
							<label class="modal__input--title" for="email">Email</label>
							<input type="text" name="email" />
						</div>
						<div class="modal__politically">
							<label class="modal__politically--label">
								<input type="checkbox" name="accept">
							</label>
							<div class="modal__politically--text">
								Согласен с
								<a href="javascript:void(0)">Пользовательским соглашением</a> и
								<a href="javascript:void(0)">Политикой конфиденциальности</a>
							</div>
						</div>
						<div class="modal__forgot-pass">
							<a href="javascript:void(0)" alt="Забыли пароль?" >Забыли пароль?</a>
						</div>
						<input type="submit" value="Войти" class="btn-primary" />
					</form>
				</div>
			</div>

			<a href="javascript:void(0)" class="modal__pay-sub">
				<div class="modal__sub-text">
					<p class="modal__sub-text--header">Подписка не оплачена</p>
					<p class="modal__sub-text--desc">Оплатите подписку, чтобы возобновить доступ к сервису</p>
				</div>

				<svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.7027 0L9 7L1.7027 14L0 12.3667L5.59459 7L0 1.63333L1.7027 0Z" fill="white"/>
				</svg>
			</a>
		</div>
	</div>
</div>
