<div class="product">
	<a href="javascript:void(0)" alt="Кросовки" class="product__image">
		<div class="product__marks">
			<!-- "orange" & "green" selector adding color for marker -->
			<div class="product__bestseller @@color">хит продаж</div>
			<div class="product__discount">@@discount</div>
		</div>
		<img
			src="../images/sneakers.jpg"
			alt="Кросовки"
			class="product__image--photo"
		/>
	</a>

	<div class="product__info">
		<div class="product__code">Код: 2131-D9</div>
		<a href="javascript:void(0)" class="product__title">
			Длинное название Длинное название Длинное название
		</a>
		<div class="product__statistics">
			<div class="product__stars">
				<svg
					width="12"
					height="12"
					viewBox="0 0 12 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.99999 0L7.85387 3.75682L12 4.35923L8.99999 7.2835L9.70798 11.4127L5.99999 9.46318L2.29176 11.4127L3.00001 7.2835L0 4.35923L4.14587 3.75682L5.99999 0Z"
						fill="#00C608"
					/>
				</svg>
				<svg
					width="12"
					height="12"
					viewBox="0 0 12 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.99999 0L7.85387 3.75682L12 4.35923L8.99999 7.2835L9.70798 11.4127L5.99999 9.46318L2.29176 11.4127L3.00001 7.2835L0 4.35923L4.14587 3.75682L5.99999 0Z"
						fill="#00C608"
					/>
				</svg>
				<svg
					width="12"
					height="12"
					viewBox="0 0 12 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.99999 0L7.85387 3.75682L12 4.35923L8.99999 7.2835L9.70798 11.4127L5.99999 9.46318L2.29176 11.4127L3.00001 7.2835L0 4.35923L4.14587 3.75682L5.99999 0Z"
						fill="#00C608"
					/>
				</svg>
				<svg
					width="12"
					height="12"
					viewBox="0 0 12 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.99999 0L7.85387 3.75682L12 4.35923L8.99999 7.2835L9.70798 11.4127L5.99999 9.46318L2.29176 11.4127L3.00001 7.2835L0 4.35923L4.14587 3.75682L5.99999 0Z"
						fill="#00C608"
					/>
				</svg>
				<svg
					width="12"
					height="12"
					viewBox="0 0 12 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M5.99999 0L7.85387 3.75682L12 4.35923L8.99999 7.2835L9.70798 11.4127L5.99999 9.46318L2.29176 11.4127L3.00001 7.2835L0 4.35923L4.14587 3.75682L5.99999 0Z"
						fill="#00C608"
					/>
				</svg>
			</div>
			<div class="product__comments">
				<svg
					width="16"
					height="16"
					viewBox="0 0 16 16"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						opacity="0.7"
						d="M3.0104 11.4872H14.4V1.64103H1.6V12.6236L3.0104 11.4872ZM3.564 13.1282L0 16V0.820513C0 0.602899 0.0842854 0.394199 0.234315 0.240323C0.384344 0.0864466 0.587827 0 0.8 0H15.2C15.4122 0 15.6157 0.0864466 15.7657 0.240323C15.9157 0.394199 16 0.602899 16 0.820513V12.3077C16 12.5253 15.9157 12.734 15.7657 12.8879C15.6157 13.0418 15.4122 13.1282 15.2 13.1282H3.564Z"
						fill="#485860"
					/>
				</svg>
				<span>13</span>
			</div>
		</div>
	</div>

	<div class="product__price">
		<div class="product__price--actual sale">8 490  грн</div>
		<div class="product__price--old">1 462  грн</div>
	</div>
</div>
